<div class="news">
    <h1>News</h1>
    <div class="newslist well">
        <ul class="list-group">
            <article *ngFor="let article of news" [article]="article"></article>
        </ul>
    </div>
</div>
